.homePage {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem auto 7rem;
  grid-template-areas: "header" "content" "webPlayer";
  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 2rem;
    margin-block-end: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  .content {
    grid-area: content;
    padding-inline: 2rem;
    overflow: auto;
  }
  .webPlayer {
    grid-area: webPlayer;
    padding-inline: 2rem;
    margin-block-start: 1rem;
  }
}

.heading {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.dropdown {
  display: none;
  position: absolute;
  top: 4rem;
  z-index: 1;
}

.dropdownIcon:hover .dropdown {
  display: block;
}

.separator {
  width: 5px;
  height: 2rem;
  border-right: solid #9881d5 2px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #9881d5;
  block-size: 2rem;
  inline-size: 1rem;
}

.slider:focus::-webkit-slider-thumb {
  border: 1px solid #9881d5;
  outline: 3px solid #9881d5;
}

.slider::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.slider::-moz-range-thumb {
  border: 2px solid #ffffff;
  border-radius: 1rem;
  background-color: #9881d5;
  block-size: 0.9rem;
  inline-size: 0.9rem;
}

.slider::-moz-range-progress {
  background-color: #9881d5;
}

.playlistTile {
  background-color: var(--theme-bg);
  cursor: pointer;
  border-radius: 5px;
  width: 201.5px;
}

.playlistDetails {
  display: grid;
  grid-template-rows: 24px 150px auto;
  grid-template-areas: "backButton" "playlistTileSection" "tracksList";
  gap: 1rem;
  block-size: 100%;
  .backButton {
    grid-area: backButton;
  }
  .playlistTileSection {
    grid-area: playlistTileSection;
  }
  .tracksList {
    grid-area: tracksList;
    overflow: auto;
  }
}

.playlistTrack {
  display: grid;
  grid-template-columns: 5% auto 35% 10%;
  grid-template-areas: "albumThumbnail trackName albumName trackDuration";
  .albumThumbnail {
    grid-area: albumThumbnail;
  }
  .trackName {
    grid-area: trackName;
  }
  .albumName {
    grid-area: albumName;
  }
  .trackDuration {
    grid-area: trackDuration;
  }
}
