@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background-start: #eaddff;
  --theme-bg: #6750A4;
}

body {
  color: var(--foreground);
  background: var(--background-start);
  height: 100vh;
}

.themeBg {
  background-color: var(--theme-bg);
}

.textColor {
  color: var(--theme-bg);
}